<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title>TeamTrick :: <%= yield(:title) || default_title %></title>
<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>
<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'ie-warning' %>
